/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
}

.fa-bars {
    display: none;
}

/* header */
header {
    height: 96px;
    background-color: #012426;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 94px;
    position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
    border-bottom: 2px solid #05BCCA
}

.navbar_ul {
    display: flex;
    column-gap: 72px;
}

.navbar_li_link {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #A1C3C9;
}

.navbar_li_link:hover {
    color: #C46A2B;
    text-shadow: 5px 5px 5px #C46A2B;
    transition: .5s linear;
}

.logo {
    margin: 100px auto;
}

.logo:hover {
    width: 80px;
}

.inactive {
    width: 40px;
    padding: 14px;
    border-radius: 8px;
    border: 2px solid #05BCCA;
}

.inactive:hover {
    box-shadow: 4px 4px 1px #C46A2B, inset 4px 4px 1px #FFFFFF;
}

.inactive:active {
    box-shadow: inset 4px 4px 1px #C46A2B, inset -4px -4px 1px white;
}

.fa-magnifying-glass {
    font-size: 12px;
    color: #05BCCA;
}

.fa-user {
    font-size: 12px;
    color: #2C4246;
    background-color: #05BCCA;
    margin: 32px;
}

.fa-cart-shopping {
    font-size: 20px;
    color: #05BCCA;
    padding: 8px;
}

/* section1 */
.section1 {
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imiges/Rectangle\ 12\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
    animation: opacity .5s infinite;
}

@keyframes opacity {
    0%{ 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2:hover {
    text-shadow: 5px 5px 3px blue;
}

.section1_span {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #05BCCA;
}

.section1_button {
    width: 36px;
    height: 24px;
    border-radius: 4px;
    background-color: #C46A2B;
    font-size: 17.5px;
    color: #D9D9D9;
    border: none;
}

.section1_button:hover {
    height: 60px;
    width: 60px;
    font-size: 40px;
}

/* section2 */
.section2 {
    background-color: #1A1A1A;
    padding: 96px 94px;
}

.line1 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

h3:hover {
    color: #C46A2B;
    text-shadow: 5px 5px 5px #C46A2B;
}

.section2_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index_figure {
    background-color: #2C4246;
    border: 1px solid #05BCCA;
    column-gap: 20px;
    padding: 8px;
    box-shadow: 0px 0px 8px 4px #05BCCACC;
}


figcaption {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
}

.figure_img {
    width: 100%;
    height: 290px;
    object-fit: fill;
}

.index_figure:hover {
    border-radius: 30px;
    box-shadow: 0px 0px 8px 4px #C46A2B;
}

.index_figure:hover .figure_img {
    border-radius: 20px 20px 20px 20px;
    filter: saturate(8);
}

.fa-star {
    font-size: 11.41px;
    color: #C46A2B;
    margin-top: 16px;
}

.figcaption_span {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #05BCCA;
    margin-left: 132px;
}

/* footer */
footer {
    background-color: #2C4246;
    padding: 48px 306px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #D9D9D9;
    transition: .5s linear;
}

h4:hover {
    color: #C46A2B;
    text-shadow: 5px 5px 5px #C46A2B;
}

.footer_right_section_ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-top: 24px;
    transition: 1s linear;
}

.footer_right_section_a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
}

.footer_right_section_a:hover {
    font-size: 17px;
    color: #05BCCA;
}


.fa-facebook {
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    color: #1A1A1A;
    font-size: 14px;
    border-radius: 4px;
}

.fa-whatsapp {
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    color: #1A1A1A;
    font-size: 14px;
    column-gap: 16px;
    border-radius: 4px;
}

.fa-instagram {
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    color: #1A1A1A;
    font-size: 14px;
    border-radius: 4px;
}

.fa-brands:hover {
    font-size: 20px;
}

/* catalog.html */
.section {
    padding: 96px 94px;
    background-color: #012426;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.catalog_card_section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #012426;
    /* padding-inline: 94px; */
    column-gap: 20px;
    flex-wrap: wrap;
}

.catalog_figure {
    column-gap: 20px;
    padding: 8px;
    background-color: #2C4246;
}

h5 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #D9D9D9;
}

button {
    width: 160px;
    height: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #A1C3C9;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2C4246;
    margin-left: 32px;
    border: none;
}

.fa-chevron-down {
    font-size: 15.48px;
    color: #2C4246;
}


/* contact.html */
.contact_section {
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../imiges/contactis\ foto.png);
}


h6 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #FFFFFF;
}