.container {
    width: min(100%, 1440px);
    margin: auto;
}

.fa-bars {
    display: none;
}

header {
    height: 96px;
    background-color: #012426;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 94px;
    position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
    border-bottom: 2px solid #05BCCA
}

.navbar_ul {
    display: flex;
    column-gap: 72px;
}

.navbar_li_link {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #A1C3C9;
    transition: 1s;
}

.navbar_li_link:hover {
    color: #C46A2B;
    text-shadow: 5px 5px 5px #C46A2B;
}

.logo {
    margin: 100px auto;
}

.logo:hover {
    width: 80px;
}

.inactive {
    width: 40px;
    padding: 14px;
    border-radius: 8px;
    border: 2px solid #05BCCA;
}

.inactive:hover {
    box-shadow: 4px 4px 1px #C46A2B, inset 4px 4px 1px #C46A2B;
}

.fa-magnifying-glass {
    font-size: 12px;
    color: #05BCCA;
}

.fa-user {
    font-size: 12px;
    color: #2C4246;
    background-color: #05BCCA;
    margin: 32px;
}

.fa-cart-shopping {
    font-size: 20px;
    color: #05BCCA;
    padding: 8px;
}

.section1 {
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imiges/Rectangle\ 12\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
}

h2:hover {
    text-shadow: 5px 5px 3px blue;
}

.section1_span {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #05BCCA;
}

.section1_button {
    width: 36px;
    height: 24px;
    border-radius: 4px;
    background-color: #C46A2B;
    font-size: 17.5px;
    color: #D9D9D9;
    margin: 24px;
    border: none;
}

.section1_button:hover {
    height: 60px;
    width: 60px;
    font-size: 40px;
}

.section2 {
    background-color: #1A1A1A;
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
    padding: 94px;
    padding-inline: 603px;
}

h3:hover {
    color: #C46A2B;
    text-shadow: 5px 5px 5px #C46A2B;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    padding-inline: 94px;
}

figure {
    background-color: #2C4246;
    border: 1px solid #05BCCA;
    column-gap: 20px;
    padding: 8px;
    box-shadow: 0px 0px 8px 4px #05BCCACC;
}

figcaption {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
}

.figure_img{
    width: 100%;
    margin-bottom: 16px;
}

figure:hover {
    border-radius: 30px;
    box-shadow: 0px 0px 8px 4px #C46A2B;
}

figure:hover img {
    border-radius: 20px 20px 20px 20px;
}

.fa-star {
    font-size: 11.41px;
    color: #C46A2B;
    margin-top: 16px;
}

.figcaption_span {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #05BCCA;
    margin-left: 132px;
}

/* footer */
footer {
    background-color: #2C4246;
    padding: 48px 306px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_right_section {
    display: flex;
    column-gap: 223px;
}

.h4 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #D9D9D9;
}

.h4:hover {
    color: #C46A2B;
    text-shadow: 5px 5px 5px #C46A2B;
}

.footer_right_section_ul {
    display: flex;
    flex-direction: column;
    padding: 24px;
    row-gap: 8px;
}

.footer_right_section_a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
}

.footer_right_section_a:hover{
    font-size: 20px;
    color: #C46A2B;
}


.fa-facebook {
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    color: #1A1A1A;
    font-size: 14px;
    border-radius: 4px;
}

.fa-whatsapp {
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    color: #1A1A1A;
    font-size: 14px;
    column-gap: 16px;
    border-radius: 4px;
}

.fa-instagram {
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    color: #1A1A1A;
    font-size: 14px;
    border-radius: 4px;
}
.fa-brands:hover{
    font-size: 30px;
}
/* catalog.html */
.catalog_section {
    padding: 96px 94px;
    border: 2px;
    background-color: #012426;
    display: flex;
    justify-content: space-between;
}

h5 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #D9D9D9;
    padding: 96px 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section_button {
    width: 160px;
    height: 32px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #A1C3C9;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2C4246;
    margin: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vector1 {
    display: flex;
    align-self: center;
    font-size: 25.33px;
    color: #D9D9D9;
    margin: 16px;
}

.vector2 {
    font-size: 15.48px;
    color: #2C4246;
    margin: 36px;
}


/* contact.html */
.contact_section{
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../imiges/contactis\ foto.png);
}

